/*body{
    background-image: url("../img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    <img src="https://cdn.dribbble.com/users/1620156/screenshots/5547104/education.gif" height="auto" weight="100%" class="card-img-top" alt="...">
}*/